/* ==UserStyle==
@name           Invidious Nord
@namespace      https://github.com/Tsyron/Invidious-Nord
@version        1.0.0
@description    Invidious Website In Nord Style
@author         Tsyron, Userstyles2918193, 7e57
==/UserStyle== */
@-moz-document url-prefix("https://yewtu.be"),
url-prefix("https://invidious.snopyta.org"),
url-prefix("https://invidious.kavin.rocks"),
url-prefix("https://vid.puffyan.us"),
url-prefix("https://invidious.exonip.de"),
url-prefix("https://ytprivate.com"),
url-prefix("https://invidious.silkky.cloud"),
url-prefix("https://inv.riverside.rocks"),
url-prefix("https://invidious-us.kavin.rocks"),
url-prefix("https://invidious.moomoo.me"),
url-prefix("https://y.com.cm"),
url-prefix("https://ytb.trom.tf"),
url-prefix("https://yt.cyberhost.uk"),
url-prefix("https://invidious.blamefran.net"),
url-prefix("https://invidious.namazso.eu"),
url-prefix("https://invidio.us/"),
url-prefix("https://invidious-us.kavin.rocks/"),
url-prefix("https://invidious-jp.kavin.rocks/"),
url-prefix("https://vid.mint.lgbt/"),
url-prefix("https://invidious.osi.kr/"),
url-prefix("https://invidio.xamh.de/"),
url-prefix("https://yt.didw.to/"),
url-prefix("https://yt.artemislena.eu/"),
url-prefix("https://yt.mstdn.social/"),
url-prefix("https://invidious.rhyshl.live"),
url-prefix("https://invidious.weblibre.org"),
url-prefix("https://invidious.sethforprivacy.com"),
url-prefix("https://yt.artemislena.eu"),
url-prefix("https://invidious.projectsegfau.lt"),
url-prefix("https://inv.bp.projectsegfau.lt"),
url-prefix("https://invidious.dhusch.de"),
url-prefix("https://inv.vern.cc"),
url-prefix("https://invidious.tiekoetter.com"),
url-prefix("https://inv.odyssey346.dev"),
url-prefix("https://invidious.baczek.me"),
url-prefix("https://inv.privacy.com.de"),
url-prefix("https://invidious.esmailelbob.xyz/"),
url-prefix("https://invidious.nerdvpn.de/"),
url-prefix("https://invidious.flokinet.to/"),
url-prefix("https://invidious.slipfox.xyz/") {
    
    /* Whole website Colors */
    .pure-g {
        /* background*/
        background: #2E3440;
        /* letters*/
        color: #D8DEE9;
    }

    /* Clickable Link colors */
    .no-theme a {
        color: #81A1C1
    }

    a:hover {
        color: #5E81AC !important
    }

    a:visited {
        color: #81A1C1
    }

    a:active {
        color: #81A1C1
    }

    /* Invidious icon*/
    .navbar .index-link {
        color: #BF616A;
    }

    /* Home Screen/Searchable list of video's*/
    /* clickable links colors*/
    p {
        color: #D8DEE9;
    }

    p.channel-name {
        color: #81A1C1;
    }

    /* Little icons for extra choice */
    i.icon.ion-md-headset {
        color: #EBCB8B;
    }

    i.icon.ion-logo-youtube {
        color: #BF616A;
    }

    i.icon.ion-md-jet {
        color: #A3BE8C;
    }

    /* Channel color*/
    span#channel-name {
        color: #D08770;
    }

    b {
        color: #D8DEE9;
    }

    /* Searchbar
       Padding and Form */
    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box,
    .pure-g:not(.searchbar) > .searchbar,
    .pure-form-aligned {
        border-radius: 10px;
        padding: 8px;
        transition: all 0.2s
    }

    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box:hover,
    .pure-g:not(.searchbar) > .searchbar:hover {
        transform: scale(1.025);
        transition: all 0.2s;
        opacity: 1;
        background: #3B4252;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
        z-index: 99999
    }

    .searchbar .pure-form input[type="search"] {
        border-bottom: 0px !important;
    }

    /* Padding and Form */
    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box {
        margin: 5px
    }

    .pure-form legend {
        text-align: center;
        border-bottom: hidden
    }

    .channel-profile {
        margin-top: 10px;
        margin-left: 5px;
    }

    .pure-control-group {
        margin-top: 3px;
        margin-bottom: 7px
    }

    /* Video player */
    /* Size video player */
    .pure-u-md-20-24 {
        width: 100% !important;
        max-width: 1530px !important;
        /* centers website*/
        margin: auto
    }

    /* Remove black borders */
    .player-dimensions.vjs-fluid {
        padding-top: 56.3% !important
    }

    /* In fullscreen only text can be seen */
    #player-container {
        padding-bottom: 54.3% !important;
        box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.3);
        transition: all 0.2s;
    }
    .video-js .vjs-control-bar,
    .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        background-color: #2E3440;
    }

    /* Subscribe button */
    #subscribe {
        background-color: #BF616A;
        color: #ECEFF4;
        border-radius: 6px;
        float: right;
        padding: 7.5px;
        margin-top: -55px
    }

    /* Download button in video */
    button.pure-button.pure-button-primary {
        background-color: #B48EAD;
    }

    /* Banner on Channel */
    .pure-u-md-20-24 > .h-box > img {
        border-radius: 10px;
        background: #4C566A;
        margin: 5px;
        opacity: 0.8;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.3);
        transition: all 0.2s
    }

    /* Hidden items */
    .pure-g.h-box > .pure-u-1-3,
    center,
    hr,
    #comments > div > b,
    embed-link {
        display: none;
    }
}
